@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #b89870;
  --primary-50: #f7f4ef;
  --primary-100: #ebe4d6;
  --primary-200: #d8c9b0;
  --primary-300: #c2a882;
  --primary-500: #a17a51;
  --primary-600: #8a6244;
  --primary-700: #6f4c39;
  --primary-800: #5e4135;
  --primary-900: #523931;
  --white-transparent: rgba(255, 255, 255, 0.593);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebe4d6;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
