@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #b89870;
  --primary-hover: #a17a51;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebe4d6;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
